/*Modified to be mobile first*/
/*HEADER*/

body {
    background-color: #CCBAA4;
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', serif;
}

a {
    color: white;
}

.nav-container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: space-between;
    background-color: #CCBAA4;
    margin-top: 0;
}

.logo {
    align-self: center;
    justify-self: center;
    width: 20%;
    height: 95%
}

.nav-links {
    display: none;
    visibility: hidden;
    text-decoration: none;
    color: white;
    width: 50%;

}

/*Body container*/
.body-container {
    display: flex;
    justify-content: center;
}
/*CARDS*/

/*container of cards*/
.main-cards-container {
    padding-top: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    border: 2px solid;
    border-radius: 10px;
    width: calc(100% - 2% - 4px);
    min-height: 20rem;

}

.flex-image {
    width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-info-space {
    margin: 2%; 
}


/*Responsive*/

/*Tablet*/
/*Adding the max is being redundant because afterwards, theres a min of higher width but is technically correct, just more code*/
@media (min-width: 768px) and (max-width: 1023px) {

    /*Show links again*/
    .nav-links {
        display: flex;
        visibility: visible;
        justify-content: space-around;
        align-items: center;
    }

    .main-cards-container {
        justify-content: space-between;
    }

    .card-container {
        width: calc(50% - 2% - 4px);
        min-height: 22.5rem;
    }
}

/*Desktop*/
@media (min-width: 1024px) {

    /*Show links again*/
    .nav-links {
        display: flex;
        visibility: visible;
        justify-content: space-around;
        align-items: center;
    }

    /*Define a width for the main container to visualize in the middle for bigger screens*/
    .main-cards-container {
        width: 1300px;
    }

    .card-container {
        width: calc(25% - 2% - 4px);
        min-height: 25rem;
    }

    /*The 3th row that has only 2 cards*/
    .desk-mid-card {
        width: calc(50% - 2% - 4px);
        min-height: 25rem;
    }
}


.special-big-card {
    width: calc(100% - 2% - 4px);
    min-height: 25rem;
}